#img-carrusel{
    object-fit: cover;
}


.fondo_texto {
    background: #101010cb;
    border-radius:15px;
    padding: 10px;
}

.carousel-caption.d-none.d-md-block {
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
}