#img-carrusel{
    object-fit: cover;
    border-radius: 25px;
}


.fondo_texto {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,57,1) 5%, rgba(160,110,166,1) 100%, rgba(248,251,255,1) 100%);
    border-radius:15px;
    padding: 10px;
}

.carousel-caption.d-none.d-md-block {
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
}

div#carouselExampleCaptions {
    margin-top: 9%;
    margin-right: auto;
    margin-left: auto;
    max-width: 60rem;
}

img.d-block.w-100 {
    width: 100%!important;
    border-radius: 25px;
}

