@import url(menu.css);
@import url(carrusel.css);
@import url(mapa.css);
@import url(tabla.css);

*{
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

header {
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,57,1) 5%, rgba(160,110,166,1) 100%, rgba(248,251,255,1) 100%);
    color: white;
    position: fixed;
    z-index: 100;
    padding-bottom: 15px;
    padding-top:15px;
}

.contenedor{
    width: 98%;
    margin: auto;
}

.logo {
    width:100px;
    height: 100%;
    float: left;
    border-radius: 10%;
}

footer{
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,57,1) 5%, rgba(160,110,166,1) 100%, rgba(248,251,255,1) 100%);
    color: white;
    padding: 10px;
}
footer .footer .row .col{
    margin: auto;
    display: flex;
    justify-content: center;
}
footer .footer .row .col i{
    font-size: 20px;
    padding: 5px;
}
.desarrollo{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
.desarrollo div h6{
    display: flex;
    justify-content: center;
}
.desarrollo div p{
    margin: 0;
    display: flex;
    justify-content: center;
}

iframe#img-mapa {
    height: 350px;
    border-radius:15px;
}


.h5_mapa{
    margin-left: 50px;
}

img.card-img-top {
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

.ultimos_agregados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   

}

.h5_ua{
    margin-top: 20px;
    margin-left: 50px;

}

.card.text-center {
    margin-top: 25px;
}




@media(min-width:1024px){
    
    footer .footer .row .col i{
        font-size: 50px;
    }
}

