{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<section id="carrusel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/img4.jpg' %}" class="d-block w-100" height="550px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="fondo_texto">
                        <h5>Bienvenido a MusicApp</h5>
                         <p>Si deseas subir tu proyecto musical, te ofrecemos el mejor servicio
                        para gestionar tu música.</p>
                    </div>
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img3.jpg' %}" class="d-block w-100" height="550px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="fondo_texto">
                        <h5>Sube la información de tus álbumes</h5>
                        <p>Si tienes un LP puedes difundirlo, este es el lugar para hacerlo.</p>
                    </div>
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img6.jpg' %}" class="d-block w-100" height="550px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="fondo_texto">
                        <h5>Sube tus canciones</h5>
                        <p>Podemos generar la reproducción de tus archivos de audio.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section>
    <h5 class="h5_ua" >Ultimos Agregados</h5>
</section>
<section class="ultimos_agregados">
    
    <div class="card text-center"  style="width: 18rem;">
        <img src="{%static 'img/coldplay.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disco Coldplay</h5>
          <p class="card-text">Genero: Pop</p>
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card text-center"  style="width: 18rem;">
        <img src="{%static 'img/maiden.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disco Iron Maiden</h5>
          <p class="card-text">Genero: Metal</p>
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card text-center"  style="width: 18rem;">
        <img src="{%static 'img/santa_feria.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disco Santa Feria</h5>
          <p class="card-text">Genero: Cumbia</p>
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card text-center"  style="width: 18rem;">
        <img src="{%static 'img/lucybell.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disco Lucybell</h5>
          <p class="card-text">Genero: Rock</p>
          <a href="#" class="btn btn-dark">Ver más</a>
        </div>
      </div>

</section>


<section class="mapa">
    <div class="h5_mapa">
        <h5>Encuentranos en:</h5>
    </div>
    
    <br>
    <div class="row contenedor">
        <div class="col">
            <iframe id="img-mapa"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.820459938175!2d-70.58320098508969!3d-33.506048007753314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d04e96e9ba21%3A0x831efce15b82413f!2sLas%20Brisas%205117%2C%20Penalolen%2C%20Pe%C3%B1alol%C3%A9n%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1619900751201!5m2!1ses-419!2scl"
                width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>


{% endblock contenido %}